.ReactModalPortal {
    .ReactModal__Overlay {
        opacity: 0;
        display:flex;
        justify-content: center;
        align-items: center;
        transition: opacity 200ms ease-in-out;
        z-index: 1000;
        &--after-open {
            opacity: 1;
           
        }
        &--before-close {
            opacity: 0;
        }

    }
    .modal{
        padding:50px $padding;
        border: 3px solid $bgBorder;
        &:focus {
            outline: none;
        }
        height:25%;
        text-align: center;
        background:$table-first-color;
        z-index: 999;

        form{
          
            label{
                padding-right:10px;
            }
        }
        
    }
    
}
