//color
$bgColor : rgb(255, 244, 147);
$bgBorder : #31A2AC;
$buttonColor: #E7472E;
$buttonBorder: #A10115;
$table-first-color:#b4f0e8;
$table-second-color:#d4f0ec;
//font
$bodyFont : 'Poppins', sans-serif;

$padding:20px;